body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    font-size: 300;
}



i {
    color: white;
}

.imgCarrusel {
    min-height: 25rem;
    max-height: 50rem;
}


.imgCard {
    max-height: 12rem;
}
h2 {
    font-size: 500;
}