body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    font-size: 300;
}


i {
    color: white;
}


.imgCarrusel {
    min-height: 25rem;
    max-height: 40rem;
}

.imgCard {
    min-height: 12rem;
    max-height: 12rem;
}

h2 {
    font-size: 500;
}